 {% load static %}
 <!---header-->
    <nav class="navbar">
    
        
        <span class="navbar-brand">MSM</span>
        
        
        
        <span class="float-right d-flex">
            <span class="nav-item"><a class="nav-link" href="{% url 'med' %}">HOME</a></span>
            <span class="nav-item"><a class="nav-link" href="{% url 'medicine' %}">MEDICINES</a></span>
            <span class="nav-item"><a class="nav-link" href="{% url 'search_medicine' %}">INVENTORY</a></span>
            <span class="nav-item"><a class="nav-link" href="{% url 'admin:login' %}">ADMIN</a></span>
            
            
        </span>
        
    </nav><br><br>