 {% load static %}
 <!---header-->
    <nav class="navbar">
    
        
        <span class="navbar-brand">MSM</span>
        
        
        
        <span class="float-right d-flex">
            <span class="nav-item"><a class="nav-link" href="#">HOME</a></span>
            <span class="nav-item"><a class="nav-link" href="#">ABOUT</a></span>
            <span class="nav-item"><a class="nav-link" href="#">MEDICINES</a></span>
            <span class="nav-item"><a class="nav-link" href="#">CONTACT </a></span>
            <span class="nav-item"><a class="nav-link" href="#">LOGIN</a></span>
            
            <input type="text" placeholder="Search your medicine">
            <input type="Submit" value="Search" class="btn btn-dark">
        </span>
        
    </nav><br><br>