{% load static %}
{% extends 'base.html' %}

    {% block content  %}
    
    <h1 class="main">MEDICAL SHOP MANAGEMENT</h1>
  

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTMm4C68E_PeecUnJScy_cKLAWdgVq0zQqCOyVy1AHxDCHtKzJK" height=300px width=400px>

    <p class="paragraph">
    Medicines are one of the important factors that are necessary to cure a person’s diseases.
    “Prevention is better than cure” is one of the famous proverbs. 
    Taking precautionary measures before getting suffered from the dreadful diseases is very important. 
    The medicines are required when you do not follow this famous saying. 
    Due to the delay of the medicines, there are chances the person might even loose his life.
    To solve all these problems, the medical shop management system plays a major role. 
    The Medical Shop Management System helps to maintain and keep the medicines in the medical store in the proper place. When you need a
    particular medicine, you can get to know the exact location of that particular medicine that you
    are searching for.
    </p>
    
        {% endblock content%}
