{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="my-5 container">
            <input type="text" placeholder="search your medicine..." class="form-control form-control-lg my-4 mx-auto">

    <table class = "table table-striped ">
        <tr>
            <th>Medicine Name</th>
            <th>Quantity</th>
            <th>Prize</th>
            <th>Company Name</th>
            <th>Supplier</th>
        </tr>
        <tr>
            {% for medicine in medicines %}
            <td>{{ medicine.name }}</td>
            <td>{{ medicine.quantity}}</td>
            <td>{{ medicine.weight }}</td>
            <td>{{ medicine.price }}</td>
            {% endfor %}
           
        </tr>
        </table>
{% endblock content %}
