{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="my-5 container">
   
    <table class = "table table-striped ">
        <div class="row d-flex">
            <tr>
                <th scope='col'>Medicine Name</th>
                <th scope='col'>Quantity</th>
                <th scope='col'>Weight</th>
                <th scope='col'>Manufactured on</th>
                <th scope='col'>Expiry</th>
            </tr>
            {% for medicine in medicines %}
            <tr >
                <td scope='row'><a href="{% url 'search_medicine'%}">{{ medicine.name }}</a></td>
                <td >{{medicine.quantity}}</td>
                <td>{{medicine.weight}}</td>
                <td>{{medicine.mfd}}</td>
                <td>{{medicine.exp}}</td>
            </tr>
            {% endfor %}
        </div>
    </table>
</div>
{% endblock content %}
